* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
}

#container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
}

.col {
    flex: 1;
    display: flex;
}

.row {
    flex: 1;
    border: 1px solid black
}

.hover {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1 {
    margin-top: 32px;
}
