* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
}

.row {
    min-width: 10px;
    height: 10px;
    border: 1px solid black
}