* {
    padding: 0;
    margin: 0;
}

.col {
    border: 1px solid black;
    height: 3rem;  
    width: 3rem; 
    display: flex;
    flex-direction: row;
}

.row {
    border: 1px solid red;
    height: 3rem;
    width: 3rem;
}

#container {
    display: flex;
    flex-direction: column;
}


